body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
}
.container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.banner .button {
  display: block;
  color: white;
}

.banner {
  flex-direction: column;
}
.section {
  display: flex;
  height: 100vh;
  border: 1 red;
  justify-content: center;
  align-items: center;
  color: white;
}

.snap-scroll {
  scroll-snap-align: start;
}
.nav-bar {
  width: 100%;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

.ordinary-text {
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  border: 0.1rem solid white;
  border-radius: 2px;
  margin-right: 4px;
  padding: 0.1rem;
}
.solana-text {
  box-sizing: border-box;
  color: white;
  font-weight: bold;
}
