.about-us img {
  width: 15em;
  height: 15em;
  border-radius: 1.5em;
  margin-right: 3em;
}

.about-us {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    42deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(72, 169, 108, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.about-us .tagline {
  max-width: 40em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tagline h1 {
  font-size: 2em;
}

.about-us-container {
  display: flex;
  flex-direction: row;
}

.about-us p {
  font-size: 1em;
}
@media screen and (max-width: 650px) {
  .about-us-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us .tagline {
    align-items: center;
  }
  .about-us img {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
