.about-us img {
  width: 25em;
  height: 25em;
  border-radius: 2em;
  margin-right: 3em;
}

/* .about-us {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    42deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(29, 122, 93, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
} */

.circle1 {
  background-color: #ffcd2a;
}
.circle2 {
  background-color: #a9c3df;
}
.circle3 {
  background-color: #a9c3df;
}

.circle-list {
  margin-top: 1em;
  display: flex;
}

.description {
  margin-top: 1em;
}

.divider {
  height: 5px;
  width: 27em;
  background-color: #fff;
  border-radius: 5px;
}

.circle {
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  margin-bottom: -50px;
  margin-right: 0.5em;
}

.about-us .tagline {
  max-width: 40em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tagline h1 {
  font-size: 3em;
}

.about-us-container {
  display: flex;
  flex-direction: row;
}

.about-us p {
  font-size: 1.2em;
}

#countdown {
  font-size: 1.5em;
}

@media screen and (max-width: 650px) {
  .about-us-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us .tagline {
    align-items: center;
  }
  .about-us img {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
