.buttongreen {
  display: block;
  color: white;
  /* border: 1px solid green; */
  border-radius: 2em;
  padding: 0.5em 1em 0.5em 1em;
  background-color: var(--bgGreen);
}

.buttonpink {
  display: block;
  color: white;
  /* border: 1px solid green; */
  border-radius: 2em;
  padding: 0.5em 1em 0.5em 1em;
  background-color: var(--bgPink);
}

.buttongreen:hover {
  background-color: var(--bgGreenHover);
  cursor: pointer;
}

.buttonpink:hover {
  background-color: var(--bgGreenHover);
  cursor: pointer;
}
