.faq-card {
  background-color: var(--bgWhite);
  color: var(--bgGreen);
  cursor: pointer;
  padding: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 1em;
  margin-top: 1em;
  border: 0.2em solid black;
}

.link {
  color: var(--bgPink);
  text-decoration: none;
}
.link:hover {
  font-weight: bold;
}
.answer {
  color: black;
  margin-top: 0.5em;
  font-size: 1.17em;
}
.faq-accordion {
  border: none;
  display: flex;
  justify-content: space-between;
}

/* .active,
.faq-accordion:hover {
  background-color: var(--bgPink);
} */

.hide {
  display: none;
  transition: 0.2s ease-out;
}

.faq-accordion .plus-icon {
  color: var(--bgGreen);
  font-weight: bold;
  margin-left: 5px;
}
/* .faq-accordion:after {
  content: "\002B";
  color: var(--bgGreen);
  font-weight: bold;
  margin-left: 5px;
} */

.faq-panel {
  padding: 0 1em;
  background-color: var(--bgWhite);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-container {
  background-color: var(--bgYellow);
  border-radius: 2em;
  padding: 4em;
  border: 0.2em solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-box {
  border: 0.2em solid white;
  border-radius: 1em;
  background-color: #333333;
  padding: 1em;
}
.wrap-faq-character {
  transform: translateX(2em);
  min-width: 30em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faq-panel p {
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 20px;
  color: black;
}

.faq-container h1 {
  position: relative;
  text-align: center;

  z-index: 50;
}

.faq-container img {
  width: 15em;
  height: 15em;
}

@media screen and (max-width: 650px) {
  .wrap-faq-character {
    display: none;
  }
  .faq-container img {
    display: none;
  }
  .faq-container {
    padding: 1em;
  }
}
