.faq-accordion {
  background-color: var(--bgWhite);
  color: var(--bgGreen);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  border: 0.2em solid black;
}

.active,
.faq-accordion:hover {
  background-color: var(--bgPink);
}

.faq-accordion:after {
  content: "\002B";
  color: var(--bgGreen);
  font-weight: bold;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.faq-panel {
  padding: 0 10px;
  background-color: var(--bgWhite);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-container {
  width: 70vw;
  background-color: var(--bgYellow);
  border-radius: 2em;
  padding: 2em;
  border: 0.2em solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.faq-wrap {
  margin-right: 1em;
}
.message-box {
  width: 18em;
  height: 5em;
  border: 0.2em solid white;
  border-radius: 1em;
  background-color: #333333;
  padding: 0.5em;
}
.wrap-faq-character {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faq-panel p {
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 20px;
  color: black;
}

.faq-container h1 {
  position: relative;
  text-align: center;

  z-index: 50;
}

.faq-container img {
  width: 15em;
  height: 15em;
}

@media screen and (max-width: 650px) {
  .faq-container img {
    display: none;
  }
}
