:root {
  /* Colors */
  --colorFooter: #000000;
}

#footer-section {
  background-color: var(--bgYellow);
  height: 369px;
  border-top: 10px solid #333333;
}

.footer-items a {
  color: #000;
  cursor: pointer;
}

/* .footer-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border: 1px solid red;
  width: 90%;
} */

.footer-sections {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}


.f-col{
  display: flex;
  flex-direction: column;
}

.f-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.f-logo-banner{
  transform: translateY(20px);
}

.f-nav-link, .f-soc-text{
  font-family: "Moon";
  font-size: 36px;
  color: white;
  font-weight: bold;
  text-decoration: none!important;
  line-height: 60px;
  letter-spacing: 6px;
}

.discord-f-logo, 
.twitter-f-logo, 
.instagram-f-logo{
  height: 2.5em;
  width: auto;
}
