:root {
  /* Colors */
  --colorFooter: #000000;
}

#footer-section {
  background-color: var(--bgYellow);
  height: 369px;
  border-top: 10px solid #333333;
}

.footer-items a {
  color: #000;
  cursor: pointer;
}

/* .footer-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border: 1px solid red;
  width: 90%;
} */

.footer-sections {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}


.f-col{
  display: flex;
  flex-direction: column;
}

.f-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.f-logo-banner{
  transform: translateY(20px);
}

.f-nav-link, .f-soc-text{
  font-family: "Moon";
  font-size: 36px;
  color: white;
  font-weight: bold;
  text-decoration: none!important;
  line-height: 60px;
  letter-spacing: 6px;
}

.discord-f-logo, 
.twitter-f-logo, 
.instagram-f-logo{
  height: 2.5em;
  width: auto;
}

@media screen and (max-width: 1096px) {
  .f-logo-banner{
    width: 24em;
    transform: translateY(38px);
  }
}

@media screen and (max-width: 1096px) {
  .f-logo-banner{
    width: 24em;
    transform: translateY(38px);
  }
  .f-nav-link, .f-soc-text{
    font-family: "Moon";
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 6px;
  }
}

@media screen and (max-width: 906px) {
  .f-logo-banner{
    width: 20em;
    transform: translateY(62px);
  }
  .f-nav-link, .f-soc-text{
    font-family: "Moon";
    font-size: 25px;
    line-height: 60px;
    letter-spacing: 6px;
  }
  .discord-f-logo, 
  .twitter-f-logo, 
  .instagram-f-logo{
    height: 2em;
    width: auto;
  }
}

@media screen and (max-width: 788px) {
  .f-logo-banner{
    width: 20em;
    display: none;
    transform: translateY(62px);
  }
  .f-nav-link, .f-soc-text{
    font-family: "Moon";
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 6px;
  }
  .footer-sections{
    flex-direction: column;
  }

  .f-nav-link{
    text-align: center;
  }
  .discord-f-logo, 
  .twitter-f-logo, 
  .instagram-f-logo{
    height: 2em;
    width: auto;
  }
}