.footer-container{
    display: flex;
    background-color: var(--bgGreen);
    height: 300px;
    /* width: 100vw; */
    align-items: center;
    justify-content: center;
}

.footer-body{
    /* border: 1px solid #a86d6d; */
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-sections{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin: auto;
}

.footer-logo img{
    width: 7em;
}

.footer-logo{
    margin: auto;
    /* border: 1px solid red; */
}

.footer-separator{
    background-color: var(--bgWhite);
    height: 1px;
    margin: 30px;
}

.footer-items{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
}

.discord-footer-logo, .twitter-footer-logo{
    height: 30px;
    margin: 10px;
    /* transition: width 2s, height 2s, transform 1s; */
    transition: all 0.5s ease-in-out;
}

.footer-items a:hover .discord-footer-logo{
    transform: rotate(360deg);
    /* height: 40px; */
}

.footer-items a:hover .twitter-footer-logo{
    transform: rotate(360deg);
    /* height: 40px; */
}

.footer-joinus {
    margin: auto;
    color: var(--bgWhite);
    font-weight:600;
    margin-bottom: 10px;
}

.footer-copyright{
    display: flex;
    color: var(--bgWhite);
    margin: auto;
    justify-content: center;
    background-color: var(--bgGreen);
    padding: 20px;
}