img {
  pointer-events: none;
}

/* == NAVIGATION BAR == */
.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-button1{
  display: flex;
}
.nav-button2{
  display: none;
}
.nav-button {
  font-weight: 900;
  transition: 0.3s;
  margin: auto;
  width: 13em;
  height: 2.5em;
  background-color: white;
  color: var(--bgGreen);
  border-radius: 2em;
  border: 3px solid var(--bgGreen);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 10px;
}

.selected {
  color: white !important;
}
.selected::after {
  display: block;
  content: "";
  background-image: url("../images/Vector 1.svg");
  background-repeat: no-repeat;
  margin-top: -0.51em;
  width: 272px;
  /* background-size: 40px 40px; */
  height: 23px;
  /* background-color: black; */
}

.title-logo img {
  width: 9em;
}
#navbar {
  position: fixed;
  top: 50vw;
  width: var(--fullWidth);
  z-index: var(--nav);
  top: 0px;
  display: block;
  transition: top 0.3s;
}

.nav-color {
  background-color: var(--bgGreen);
  color: var(--bgWhite);
}

.coming-soon {
  display: inline-block;
  font-size: 0.5em;
  color: crimson;
  align-self: center;
  line-height: 20px;
  transform: translate(1px, -12px);
}
/* .coming-soon {
  font-size: 0.9em;
  font-weight: 600;
  color: crimson;
  align-self: center;
  transform: translate(50px, -45px);
  margin-bottom: 10px;
} */

.nav-transparent {
  background-color: transparent;
  color: var(--bgWhite);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.nav-container {
  padding: 20px 0;
}

.title-logo {
  font-size: 1.1em;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, -50%);
}

.checkbox {
  cursor: pointer;
}

.nav-items {
  position: absolute;
  display: flex;
  margin-left: var(--marginLg);
  /* padding: 20px 70px 70px 20px !important; */
  padding: 20px 70px !important;
  left: -50px;
  z-index: 100;
  align-items: start;
  flex-direction: column;
  /* padding: var(--marginLg) 0; */
  border: 3px solid black;
  background-color: var(--bgYellow);
  border-bottom-right-radius: 60px; /* 100px of height + 10px of border */
  border-top-right-radius: 60px;
  -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
  height: 99.9vh;
}

.nav-items.close {
  display: none !important;
}

.nav-items li,
.nav-items li a {
  text-decoration: none !important;
  list-style: none !important;
}
.nav-items li {
  /* background-color: var(--bgGreen); */
  margin-bottom: 1em;
}

.nav-items a {
  font-size: 30px;
  font-weight: 900;
  color: #5a5a5a;
  transition: 0.2s;
  font-family: "moon bold";
  letter-spacing: 2px;
}

.nav-items li a:hover {
  color: white;
}

.nav-items li :hover {
  /* background-color: var(--bgGreenHover); */
  height: 35px;
  border-radius: 30px;
  background-color: var(--bgPink);
  padding: 0.2em 0.8em;
  color: white;
  transition: 0.2s;
}

.nav-item {
  text-decoration: none !important;
  line-height: 2em;
  /* color: white; */
  /* line-height: 2em;
  font-size: 25px; */
}
.nav-item:hover {
  text-decoration: none !important;
  color: white;
}

.select {
  height: 35px;
  border-radius: 30px;
  background-color: var(--bgPink);
  padding: 0.2em 0.8em;
  color: white;
}
/* .nav-color .nav-items li :hover,
.nav-items li a:active {
  color: var(--bgBlack);
  font-weight: 500;
  transition: 0.8s;
  background-color: var(--bgPink);
}
.nav-transparent .nav-items li :hover,
.nav-items li a:active {
  color: var(--bgGreen);
  font-weight: 500;
  transition: 0.8s;
} */

.nav-soc-logos{
  display: flex;
  flex-direction: row;
}

.nav-discord-logo,
.nav-twitter-logo,
.nav-instagram-logo{
  height: 1em;
  width: auto;
  margin: 15px 20px 0 0;
}

.nav-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-body {
  padding: 0px var(--marginLg);
  text-align: center;
}

.close-nav-items {
  background-color: var(--bgGreen);
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  /* left: 0px; */
  left: -50px;
  margin-bottom: 10px;
}

.close-nav-items:hover {
  background-color: var(--bgPink);
  cursor: pointer;
}

/* .menu-toggle {
  display: block;
} */

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  cursor: pointer;
}
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.menu-toggle input {
  position: absolute;
  height: 50px;
  width: 50px;
  opacity: 0;
  left: -16px;
  top: -20px;
  z-index: 2;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--bgWhite);
  border-radius: 5px;
  transition: 0.7s;
  margin-bottom: 0.47em;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
  /* background-color: red; */
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
  margin-bottom: 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(2.8px, 2.8px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.nav-items-cont{
  display: flex;
  flex-direction: column;
}

/* media query for nav */

@media screen and (max-width: 700px) {
  .nav-button1{
    display: none!important;
  }
  .nav-button2{
    display: flex!important;
  }
  .nav-button2-div {
    font-weight: 900;
    transition: 0.3s;
    margin: auto;
    width: 9em;
    height: 2em;
    background-color: white;
    color: var(--bgGreen);
    border-radius: 2em;
    border: 3px solid var(--bgGreen);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    left: -40px;
    top: 0px;
    bottom: -160px;
  }
}

@media screen and (max-width: 427px) {
  .nav-body {
    padding: 0px var(--marginSm);
  }
  .nav-items {
    display: none;
    padding: 15px 50px !important;
    /* width: 100vw; */
  }
  .close-nav-items {
    width: fit-content;
    left: -10px;
  }
}
@media screen and (max-width: 410px) {
  .nav-body {
    padding: 0px var(--marginSm);
  }
  .nav-items {
    display: none;
    padding: 15px 40px !important;
    /* width: 100vw; */
  }
  .close-nav-items {
    width: fit-content;
    left: -10px;
  }
}

@media screen and (max-width: 400px) {

  .nav-body {
    padding: 0px var(--marginSm);
  }
  .nav-items {
    display: none;
    padding: 15px 35px !important;
    /* width: 100vw; */
  }
  .close-nav-items {
    width: fit-content;
    left: -10px;
  }
  .nav-button2-div {
    font-weight: 900;
    transition: 0.3s;
    margin: auto;
    width: 9em;
    height: 2em;
    font-size: 23px;
    right: 0px;
    left: -70px;
    top: 0px;
    bottom: -170px;
  }
}
@media screen and (max-width: 338px) {
  .nav-body {
    padding: 0px var(--marginSm);
  }
  .nav-items {
    display: none;
    padding: 15px 20px !important;
    /* width: 100vw; */
  }
  .close-nav-items {
    width: fit-content;
    left: -10px;
  }
  .nav-button2-div {
    font-weight: 900;
    transition: 0.3s;
    margin: auto;
    width: 9em;
    height: 2em;
    font-size: 23px;
    right: 0px;
    left: -70px;
    top: 0px;
    bottom: -280px;
  }
}
