img {
  pointer-events: none;
}

/* == NAVIGATION BAR == */
.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-button {
  margin-left: 10em;
  font-weight: 900;
  transition: 0.3s;
  /* background-color: var(--bgPink); */
  position: absolute;
  right: 20px;
  top: 10px;
}

.title-logo img {
  width: 9em;
}
#navbar {
  position: fixed;
  top: 50vw;
  width: var(--fullWidth);
  z-index: var(--nav);
  top: 0px;
  display: block;
  transition: top 0.3s;
}

.nav-color {
  background-color: var(--bgGreen);
  color: var(--bgWhite);
}

.nav-transparent {
  background-color: transparent;
  color: var(--bgWhite);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.nav-container {
  padding: 20px 0;
}

.title-logo {
  font-size: 1.1em;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, -50%);
}

.nav-items {
  position: absolute;
  display: flex;
  margin-left: var(--marginLg);
  padding: 20px 70px!important;
  top: 2vh;
  left: -40px;
  z-index: 100;
  align-items: start;
  flex-direction: column;
  padding: var(--marginLg) 0;
  border: 3px solid black;
  justify-content: center;
  background-color: var(--bgYellow);
  border-bottom-right-radius: 60px;  /* 100px of height + 10px of border */
  border-top-right-radius: 60px;
}

.nav-items.close{
  display: none!important;
}

.nav-items li,
.nav-items li a {
  text-decoration: none !important;
  list-style: none !important;
}
.nav-items li {
  /* background-color: var(--bgGreen); */
  margin-bottom: 1em;
}

.nav-items a {
  font-size: 30px;
  font-weight: 700;
  color: #5A5A5A;
  transition: 0.2s;
  font-family: "moon";
}

.nav-items li a:hover{
  color: white;
}

.nav-items li :hover {
  /* background-color: var(--bgGreenHover); */
  height: 35px;
  border-radius: 30px;
  background-color: var(--bgPink);
  padding: 0.2em 0.8em;
  color: white;
  transition: 0.2s;
}

.nav-item{
  text-decoration: none!important;
  line-height: 2em;
  /* color: white; */
  /* line-height: 2em;
  font-size: 25px; */
}
.nav-item:hover{
  text-decoration: none!important;
  color: white;
}

.select {
  height: 35px;
  border-radius: 30px;
  background-color: var(--bgPink);
  padding: 0.2em 0.8em;
  color: white;
}
/* .nav-color .nav-items li :hover,
.nav-items li a:active {
  color: var(--bgBlack);
  font-weight: 500;
  transition: 0.8s;
  background-color: var(--bgPink);
}
.nav-transparent .nav-items li :hover,
.nav-items li a:active {
  color: var(--bgGreen);
  font-weight: 500;
  transition: 0.8s;
} */

.nav-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-body {
  padding: 0px var(--marginLg);
  text-align: center;
}

.close-nav-items{
  background-color: var(--bgGreen);
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  left: -50px;
}

.close-nav-items:hover{
  background-color: var(--bgPink);
  cursor: pointer;
}

/* .menu-toggle {
  display: block;
} */

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.menu-toggle input {
  position: absolute;
  height: 50px;
  width: 50px;
  opacity: 0;
  left: -16px;
  top: -20px;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--bgWhite);
  border-radius: 5px;
  transition: 0.7s;
  margin-bottom: 0.47em;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
  /* background-color: red; */
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
  margin-bottom: 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(1.5px, 1.5px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}


/* media query for nav */
@media screen and (max-width: 650px) {
  .nav-wrap .buttonpink {
    margin-right: 1em;
    display: none;
  }

  .nav-button {
    margin-left: 0;
    font-weight: 900;
  }
  .nav-body {
    padding: 0px var(--marginSm);
  }
  .nav-items {
    display: none;
  }

}
