.partner {
  flex-direction: column;
}
.swiper {
  width: 80%;
  height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner img {
  width: 10em;
  border-radius: 0.5em;
}

.partner-card {
  padding: 1em;
  background-color: #fff;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.partner h3 {
  color: #000;
  margin-bottom: 0.5em;
}

.ordinary-wrap {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  .partner img {
    width: 10em;
    /* height: 12em; */
  }
}
