.partner {
  flex-direction: column;
}
.partner h1 {
  flex-direction: column;
  margin-bottom: 1em;
}
.partner .buttongreen {
  margin-top: 1em;
}
.swiper {
  width: 80%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner img {
  height: 100%;
  border-radius: 1em 0em 0 1em;
}

.bottom-wrap img {
  width: 2em;
  height: 2em;
  padding: 0.2em;
}
.bottom-wrap p {
  color: #000;
  margin-bottom: 0.5em;
}

.bottom-wrap .desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}

.desc p {
  margin-left: 1em;
}

.bottom-wrap .separator {
  color: black;
}

.logo {
  width: 1em;
}

.partner-card {
  height: 15em;
  padding: 0em;
  background-color: #fff;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: start;
}

.partner h3 {
  color: #000;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

.ordinary-wrap {
  display: flex;
  justify-content: center;
}

.bottom-wrap {
  background-color: black;
  width: 15em;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  background-color: var(--bgWhite);
  border-radius: 0 1em 1em 0em;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  .partner img {
    width: 10em;
    /* height: 12em; */
  }
}
