.rarity {
  flex-direction: column;
  justify-content: center;
}

.rarity-card img {
  width: 12em;
  border-radius: 1em 1em 1em 1em;
}

.wrap-image {
  display: flex;
  margin-top: 3em;
}
.rarity-card {
  border-radius: 1em;
  margin-right: 4.375em;
  width: 12em;
  /* background-color: var(--bgPink); */
  text-align: center;
}

.rarirty-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.type {
  background-color: #fff;
  padding: 0.2em 0;
  border-radius: 1em;
  color: var(--bgGreen);
}

.card-bottom {
  width: 12em;
  height: 3em;
  background-color: #fff;
  border-radius: 0em 0em 1em 1em;
  margin-top: -0.4em;
}

.rarity-card h3 {
  margin-bottom: 0.5em;

  padding: 0.2em 0;
  border-radius: 0.5em;
}
.rarity-card h3 span {
  display: block;
}
@media screen and (max-width: 650px) {
  .wrap-image {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0;
    margin-top: 1em;
  }
  .rarity-card {
    margin-right: 0;
    transform: scale(0.7);
  }
  #rarity-title{
    margin-top: 5em;
  }
}
