.roadmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

.roadmap-container p {
  position: relative;
  left: 30vw;
  bottom: 10vh;
  text-transform: uppercase;
  font-family: moon;
  width: fit-content;
}

.roadmap-wrapper {
  max-height: 100%;
  max-width: 100vw;
  overflow-x: scroll;
  cursor: grab;
  margin-top: 3em;
  /* border: 1px solid red; */
}
.roadmap-wrapper .roadmap-img {
  height: 60vh;
}

.roadmap-container h1 {
  text-align: center;
}

/* @media screen and (max-width: 1789px) {
    .roadmap-img{
        height: 100vh;
    }
} */
