.roadmap-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
.roadmap-wrapper{
    max-height: 100%;
    max-width: 100vw;
    overflow-x: scroll;
    /* border: 1px solid red; */
}
.roadmap-wrapper .roadmap-img{
    height: 60vh;
}

.roadmap-container h1{
    text-align: center;
    margin-bottom: 20px;
}

/* @media screen and (max-width: 1789px) {
    .roadmap-img{
        height: 100vh;
    }
} */