@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  /* Colors */
  --bgBlack: #000000;
  --bgWhite: #ffffff;
  --bgGreen: #48a96c;
  --bgGreenHover: #34774d;
  --bgPink: #ec6d7b;
  --bgPinkHover: #963d47;

  /* Width */
  --fullWidth: 100vw;
  --marginLg: 50px;
  --marginMd: 20px;
  --marginSm: 10px;

  /* Z index */
  --nav: 100;
}
@font-face {
  font-family: "moon";
  src: url("assets/fonts/Moon2/Moon2.0-Regular.otf") format("opentype");
}
@font-face {  
  font-family: 'moon';
  src: url('assets/fonts/Moon2/Moon2.0-Bold.otf') format("opentype");
}
@font-face {  
  font-family: 'moon';
  src: url('assets/fonts/Moon2/Moon2.0-Light.otf') format("opentype");
}

* {
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  /* font-family: 'open sans'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
}

.container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.section {
  display: flex;
  height: 100vh;
  border: 1 red;
  justify-content: center;
  align-items: center;
  color: var(--bgWhite);
}

.snap-scroll {
  scroll-snap-align: start;
}

.section h1 {
  font-family: "moon"!important;
}

.ordinary-text {
  box-sizing: border-box;
  color: var(--bgWhite);
  font-weight: 900;
  padding: 0.1rem;
}

.solana-text {
  box-sizing: border-box;
  color: var(--bgWhite);
  font-weight: 100;
}

@media screen and (max-width: 650px) {
  .section {
    padding: var(--marginSm);
  }
}
