@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  /* Colors */
  --bgBlack: #000000;
  --bgWhite: #ffffff;
  --bgGreen: #48a96c;
  --bgGreenHover: #34774d;
  --bgPink: #ec6d7b;
  --bgPinkHover: #963d47;
  --bgOrange: #f58b1f;

  /* Width */
  --fullWidth: 100vw;
  --marginLg: 50px;
  --marginMd: 20px;
  --marginSm: 10px;

  /* Z index */
  --nav: 100;
}
@font-face {
  font-family: "moon";
  src: url("../fonts/Moon2/Moon2.0-Regular.otf") format("opentype");
}
@font-face {
  font-family: "moon bold";
  src: url("../fonts/Moon2/Moon2.0-Bold.otf") format("opentype");
}
@font-face {
  font-family: "moon light";
  src: url("../fonts/Moon2/Moon2.0-Light.otf") format("opentype");
}

* {
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.page-loader {
  position: fixed;
  /* position: absolute; */
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: var(--bgBlack);
  z-index: 1000;
  transition: 2s ease;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 100px;
  transition: 2s ease;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  /* font-family: 'open sans'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
}

.container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.section {
  display: flex;
  height: 100vh;
  border: 1 red;
  justify-content: center;
  align-items: center;
  color: var(--bgWhite);
  padding: 0px var(--marginLg);
}

.snap-scroll {
  scroll-snap-align: start;
}

.section h1 {
  font-family: "moon bold" !important;
  letter-spacing: 0.1em;
}

.ordinary-text {
  box-sizing: border-box;
  color: var(--bgWhite);
  font-weight: 900;
  padding: 0.1rem;
}

.solana-text {
  box-sizing: border-box;
  color: var(--bgWhite);
  font-weight: 100;
}

@media screen and (max-width: 650px) {
  .section {
    padding: 0px var(--marginSm);
  }
}
